.svn
/Codigo/APIParametricos/.DS_Store
/Codigo/APIParametricos/.vs
/Codigo/APIParametricos/bin
/Codigo/APIParametricos/obj
/Codigo/DatosParametricos/.vs
/Codigo/DatosParametricos/bin
/Codigo/DatosParametricos/obj
/Codigo/UtilidadesParametricos/.vs
/Codigo/UtilidadesParametricos/bin
/Codigo/UtilidadesParametricos/obj
Codigo/APIParametricos/Archivos/Hola hola.pdf
Codigo/APIParametricos/Archivos/Pruebas.pdf
Codigo/APIParametricos/Archivos/Sin título.pdf
Codigo/APIParametricos/Archivos/ParametricosActuales.xlsx