.svn
/Codigo/APIParametricos/.DS_Store
/Codigo/APIParametricos/.vs
/Codigo/APIParametricos/bin
/Codigo/APIParametricos/obj
/Codigo/DatosParametricos/.vs
/Codigo/DatosParametricos/bin
/Codigo/DatosParametricos/obj
