// app global css in SCSS form
.qpage {
  padding: 20px;
}
.mi-card {
  min-width: 500px;
}
.filaNaranja {
  background-color: #ffb66c;
}
.filaRoja {
  background-color: #ff8c8c;
}
.filaAmarilla {
  background-color: #ffff80;
}
.filaVerde {
  background-color: #6fffb7;
}
.filaAzul {
  background-color: #76bdff;
}
.subtitulo {
  background-color: #cfcfce;
}
